// include other Sass components
@import "./colors";
@import "./mixins";


h1 {
  color: $textColor;
}

p {
  color: $textColor;
}

.my-container {
  @include flexCenter(column);

  border-style: solid;
  border-width: 2px;
  border-color: $borderColor;
  padding: 8px;

  // nested styles...
  button {

    border-style: solid;
    border-width: 1px;
    border-color: $primaryColor;
    border-radius: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: $secondaryColor;
    color: white;
  }
}





